@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("../fonts/Rubik/Rubik-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("../fonts/Rubik/Rubik-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 900;
  src: url("../fonts/Rubik/Rubik-Black.ttf") format("opentype");
}
