@media (min-width: 992px) {
  .accordion .card > .card-body {
    padding: 2rem 4rem;
    background-color: #fff; }

  .card button {
    width: 290px; } }

/*# sourceMappingURL=maresponsive.css.map */
