@media (min-width: 992px) {
  .accordion .card > .card-body {
    padding: 2rem 4rem;
    background-color: #fff; }

  .card-header img {
    display: block; }

  .card button {
    width: 290px; }

  .title-header img {
    position: absolute;
    right: 2rem;
    text-decoration: underline;
    width: 7rem; }
  .title-header a {
    position: absolute;
    right: 2rem;
    font-size: 0.9rem;
    text-decoration: underline; }
    .title-header a:hover {
      color: #fc6414 !important; } }
@media (max-width: 576px) {
  .accordion input {
    width: 100% !important;
    margin-bottom: 0.5rem; }

  table {
    width: 100% !important; }

  footer, .logo {
    text-align: center !important; }
    footer img, .logo img {
      margin-top: 1rem; }

  .title-header {
    text-align: center; }
    .title-header img {
      position: relative; }
    .title-header a {
      position: relative;
      top: 15px; } }

/*# sourceMappingURL=responsive.css.map */
