$primary: #FF8400;
$secondary: #ffae00;
$light: #fff;
$dark: #292929;
$gray: #7A7A7A;

@import url("fonts.css");
body {
	-webkit-font-smoothing: antialiased !important;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
  font-size: 15px;
  color: $dark;
  line-height: 1.5em;
  background-color: #F5F7FC;
}

.btn-primary {
	background-color: #F5AE02;
	border-color: #F5AE02;

	&:focus,
	&:active,
	&:hover {
		background-color: rgba(#F5AE02, 0.8)!important;
		border-color: rgba(#F5AE02, 0.8)!important;
		box-shadow: none!important;
	}
}

.text-primary {
	color: #FF8400!important;
}

.navbar {
	text-align: center;
	background-color: $light;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);

	a , img {
		margin: 0 auto;
		width: 180px;
	}
}

.main {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.shop-logo-header {
	text-align: center;
	padding-top: 3rem;

	img {
		width: 8rem;
		border: 1px solid rgba($gray, 0.2);
	}
}

.order-summary {
	background-color: $light;
	padding-bottom: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.09);
	margin-bottom: 1rem;

	.header {
		padding: 0.75rem;
		display: flex;
	}

	.shop-logo img {
		width: 5rem;
	}

	.shop-name {
		padding: 1rem;

		h2 {
			font-size: 1.1rem;
			margin: 0;
			margin-bottom: 0.1rem;
			font-weight: 400;
		}

		span {
			color: $gray;
			font-size: 0.8rem;
		}
	}

	.total-payment {
		text-align: center;
		width: 100%;
		padding: 1rem;
		font-weight: 500;
		line-height: 1.5;

		span {
			display: block;
			font-size: 1.5rem;
		}
	}

	table {
		thead {
			background-color: #F5F7FC;

			th {
				font-weight: 500;
				font-size: 0.85rem;
			}
		}

		th , td {
			padding: 0.75rem 1rem;
		}

		tbody {

			td {
				&.amount {
					font-weight: 500;
				}

				span {
					display: block;

					&.item-name {
						color: $primary;
					}

					&.item-number,
					&.quantity {
						color: $gray;
						font-size: 0.85rem;
					}
				}
			}

			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #F5F7FC;
				}

				&.item-total {
					td {
						&.f-medium {
							font-size: 0.85rem;
						}
					}
				}

				&.total {
					td {
						&.amount {
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}

	.details {
		padding: 1rem;

		img, span, a {
			display: inline-block;
		}

		img {
			width: 8rem;
		}

		span {
			font-weight: 500;
			font-style: italic;
			color: #ACACAC;
			margin-left: 5px;
		}

		a {
			text-decoration: underline;
			color: $primary;
			font-size: 0.8rem;
			font-weight: 500;
		}
	}

	> p {
		color: #ACACAC;
		font-weight: 500;
		font-size: 0.9rem;
	}
}



.f-medium {
	font-weight: 500;
}

.card {
	button {
		// width: 290px;
		width: 100%;
		min-height: 3rem;
		outline: none;
	}

	.card-footer {
		border: none;
		background-color: #F5F7FC;
		text-align: left;

		span {
			font-weight: 500;
			font-size: 0.9rem;
			text-transform: uppercase;
		}

		p {
			font-weight: 500;
			font-size: 0.8rem;
			color: #ACACAC;
		}
	}
}

.title {
	font-size: 1.3rem;
	font-weight: 400;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card-header {
	position: relative;
	background-color: $primary;
	margin-bottom: 0.5rem;
	color: $light;

	&.collapsed {
		background-color: $light;

		.title span {
			color: #969696;
			
			&:first-child {
				color: $dark;
			}
		}

		i {
			color: $primary;
			-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
		}

		img.light {
			opacity: 1;
		}

		img.colored {
			opacity: 0;
		}
	}

	img.light {
		opacity: 0;
	}

	img.colored {
		opacity: 1;
	}


	.title, i, img {
		display: inline-block;
	}

	.title span {
		display: block;
		text-align: left;
		font-size: 0.9rem;
		color: $light;
		
		&:first-child {
			font-size: 1.3rem;
			color: $light;
		}
	}

	i {
		position: relative;
		top: -10px;
		font-size: 1.5rem;
		margin-right: 1.5rem;
		color: $light;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}

	img {
		display: none;
		width: 3.2rem;
		right: 2rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		position: absolute;
	}
}


.collapse {
	> .card-header,
	> .card-body {
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.09);
	}
}

.card-body {
  background-color: $light;

  h2 {
    font-size: 1.3rem;
    color: #292929;
    font-weight: 400;
	}

	span {
    color: #7A7A7A;
    // display: block;
    font-size: 0.8rem;
	}
}

.accordion {
	input {
    min-height: 3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    &:focus {
	    box-shadow: none;
    	border-color: $primary;
    }
	}

	.card {
		margin-bottom: 0.5rem;
		border: none;
		background-color: transparent;

		.card-header {
			border: none;
		}

		> .card-body {
		  // padding: 2rem 4rem;
		  background-color: $light;

			h2 {
		    font-size: 1.3rem;
		    color: $dark;
		    font-weight: 400;
			}

			span {
		    color: $gray;
		    display: block;
		    font-size: 0.8rem;
			}

			button {
		    margin-top: 2rem;
			}

			form {
		    margin-top: 2rem;
		    margin-bottom: 2rem;

				label {
			    display: block;
				}

				.form-group.two-input input {
			    width: 10rem;
			    display: inline-block;
			    margin-right: 5px;
				}

				.short-input input {
			    width: 8rem;
				}
			}

			
		}
	}

	.text-link {
		display: block;
		color: $primary;
		text-decoration: none;
		margin-top: 4rem;
	}


	.table-title {
		font-size: 0.9rem;
		margin-bottom: 0;
	}

	.border-bottom {
		border-bottom: 1px solid #F0F0F0;
		padding-top: 1rem;
		padding-bottom: 2rem;
	}
	

}


#cashPayment {
	.form-group {
		&.row {
			margin: 0;
			

			input {
				margin-right: 5px;
				width: calc(50% - 5px);
				max-width: calc(50% - 5px);
			}
		}
	}

	table {
		margin: 0;

		td {
			padding: .2rem 0;
			color: #6C6C6C;
		}

		tfoot {
			border-top: 1px solid $primary;

			td {
				font-weight: 500;
				padding: .5rem 0;
				color: $dark;

				&.amount {
					font-size: 1.2rem;
				}
			}
		}
	}


	.card-body {
		form {
			margin-top: 1rem;
		}
	}
}

.custom-radio {
	width: 100%;
	margin-top: 1rem;

	.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    margin-bottom: 1rem;
	}

	.label-container input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}

	.checkmark {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 25px;
	    width: 25px;
	    background-color: #eee;
	    border-radius: 5px;
	}

	.label-container:hover input ~ .checkmark {
	    background-color: #ccc;
	}

	.label-container input:checked ~ .checkmark {
	    background-color: #329D77;
	}

	.label {
	  color: #A9A9A9;
	}

	span {
		font-size: 1rem!important;
		top: 2px;
		position: relative;
	}

	.form-control {
		 margin-left: 35px;
		 width: calc(100% - 35px)!important;
		 margin-bottom: 1rem;
	}

	.label-container input:checked ~ .label {
	    color: $dark;
	}

	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}

	.label-container input:checked ~ .checkmark:after {
	    display: block;
	}

	.label-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  	border-radius: 2px;
	}
}

.title-header {
	padding: 2rem;
	background-color: transparent;
	color: $dark;
	font-size: 1.5rem;
  border-color: #F5F7FC;
  position: relative;
  font-weight: 500;

  img {
  	width: 7rem;
  }

  a {
  	font-size: 0.9rem;
  	text-decoration: underline;
  	&:hover {
  		color: $primary!important;
  	}
  }
}

.checkout-payment-code {

	.code {
		margin-top: 2rem;
		margin-bottom: 2rem;

		span {
			display: block;

			&:nth-child(2) {
		    color: $primary;
		    font-size: 31px;
			}

			&:nth-child(1) {
		    font-size: 21px;
		    margin-bottom: 10px;
			}
		}
	}

	.receipt-container {
		padding-bottom: 5rem;

		img {
			display: block;
			margin: 0 auto;
		}

		.qr {
			width: 200px;
		}

		.barcode {
			width: 252px;
			margin-bottom: 3rem;
		}
	}

	button:not(.btn-primary) {
		background-color: #FF7309;
		color: $light;
		border: #FF7309;
		outline: none;
		width: auto;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.message {
		width: 240px;
		margin: 0 auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;

		span {
			color: $primary;
			display: inline-block;
		}
	}

	.transaction-details {
		margin-top: 5rem;
		margin-bottom: 5rem;

		.table-title {
			font-size: 0.9rem;
		}

		table {
			margin: 0 auto;
			text-align: inherit;
			width: 400px;
			margin-bottom: 3rem;

			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #F0F0F0;
				}

				td {
					padding-top: 1rem;
					padding-bottom: 1rem;
					&:nth-child(1) {
						text-align: left;
					}
					&:nth-child(2) {
						text-align: right;
					}
				}
			}
		}
	}


}

.footer {
	button {
		width: auto!important;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	> span {
		margin-left: 1rem;
	}

	span {
		color: #A7A7A7;
	}
}

.confirmation-details {
	.card-body {
		padding: 2rem;
		padding-bottom: 5rem;

		span {
			display: block;
		}
	}

	table {
		width: 100%;
		margin-top: 3rem;
		margin-bottom: 5rem;

		tr {
			&:not(:last-child) {
				border-bottom: 1px solid #F0F0F0;
			}

			td {
				padding-top: 1rem;
				padding-bottom: 1rem;
				&:nth-child(1) {
					text-align: left;
					color: #A7A7A7;
				}
				&:nth-child(2) {
					text-align: right;
					font-size: 1.1rem;
				}
			}
		}
	}
}

.success-page {
	.card-body {
    padding-bottom: 5rem;
	}

	.icon {
		width: 120px;
		margin-top: 1rem;		
		margin-bottom: 1rem;		
	}

	.status-message {
		font-size: 1.5rem;
	}

	.message {
		color: #A7A7A7;

		span {
			color: $primary;
		}
	}

	hr {
		width: 100%;
		margin-top: 3rem;		
		margin-bottom: 5rem;		
	}

	.redirect {
		font-weight: 500;
		margin-top: 2rem;
	}
}

.error-page {
	.card-body {
    padding-bottom: 5rem;
	}

	.icon {
		width: 120px;
		margin-top: 1rem;		
		margin-bottom: 1rem;		
	}

	.status-message {
		font-size: 1.5rem;
	}

	.message {
		color: #A7A7A7;

		span {
			color: $primary;
		}
	}

	hr {
		width: 100%;
		margin-top: 3rem;		
		margin-bottom: 5rem;		
	}

	.redirect {
		font-weight: 500;
		margin-top: 2rem;
	}
}

footer {
	color: #ACACAC;
	background-color: #F1F3F8;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	border-top: 1px solid #e6e6e6;

	.copyright, .link {
		display: inline-block;
	}

	.link {
		margin-left: 1rem;
		a {
			color: #ACACAC;
		}
		span {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}

	.logo {
		text-align: right;

		img {
			width: 140px;
			text-align: right;
		}
	}

	
}

.modal {
	&#storeLocator {

		.modal-dialog {
			max-width: 1050px;
		}
	}

	.modal-header {
		.search-store {
			width: 400px;

			.input-group-text {
				background-color: transparent;
				border-color: rgba(#A7A7A7,0.35);

			}

			input {
				border-right: 0!important;
				border-color: rgba(#A7A7A7,0.35);
				height: 2.5rem;

				&:focus {
					border-color: $primary;
					box-shadow: none;

					&~.input-group-append > .input-group-text {
			   		border-color: $primary;
					}
				}
			}

			i.fa-search {
				color: $primary;
			}
		}

		button {
			background-color: transparent;
		}
	}

	.modal-content {
		height: 90vh;
	}

	#map {
		background-image: url(../imgs/map.png);
		background-size: cover;
		background-position: bottom right;
		background-repeat: no-repeat;
		height: 100vh;
	}

	.close-icon {
		width: 1.5rem;
	}

	.store-map,
	.store-location {
		padding: 0;
		overflow: hidden;
	}

	.row {
		margin: 0;
	}

	.store-location {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
		overflow: hidden;
		overflow-y: visible;

		.store-count {
			padding: 1.5rem 2rem;
			text-align: center;
			font-size: 1.2rem;
			border-bottom: 1px solid #E8E8E8;
		}

		.store {
			padding: 1rem 0.25rem;
			color: #292929;
			cursor: pointer;

			&.selected {
				background-color: #F1F1F1;
			}

			.fa-map-marker-alt {
				color: $primary;
			}

			.store-name {
				font-weight: 500;
				font-size: 1.1rem;
			}

			.store-address {
				font-size: 0.95rem;
				margin-bottom: 0.5rem;
			}

			.store-travel-time {
				color: #A2A2A2;
				font-size: 0.85rem;
			}
		}
	}

	.store-map {
		padding: 0;

		.modal-body {
			padding: 0;
		}
	}
}