$primary: #fc6414;
$secondary: #ffae00;

@media (min-width: 992px) {
	.accordion .card > .card-body {
    padding: 2rem 4rem;
    background-color: #fff;
	}

	.card-header {
		img {
			display: block;
		}
	}

	.card {
		button {
			width: 290px;
		}
	}

	.footer {
		button {
			// width: auto!important;
		}
	}

	.title-header {

	  img {
	  	position: absolute;
	  	right: 2rem;
	  	text-decoration: underline;
	  	width: 7rem;
	  }

	  a {
	  	position: absolute;
	  	right: 2rem;
	  	font-size: 0.9rem;
	  	text-decoration: underline;

	  	&:hover {
	  		color: $primary!important;
	  	}
	  }
	}
}

@media (max-width: 576px) {
	.accordion {
		input {
			width: 100%!important;
			margin-bottom: 0.5rem;
		}
	}

	table {
		width: 100%!important;
	}

	footer, .logo {
		text-align: center!important;

		img {
			margin-top: 1rem;
		}
	}

	.title-header {
		text-align: center;
	  img {
	  	position: relative;
	  }

	  a {
	  	position: relative;
	  	top: 15px;
	  }
	}
}

@media (max-width: 991.98px) {
	
}

