$primary: #fc6414;
$secondary: #ffae00;

@import url("fonts.css");
body {
	-webkit-font-smoothing: antialiased !important;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
  font-size: 15px;
  color: #555;
  line-height: 1.5em;
  background-color: #f5f7fc;
}

nav.navbar {
	height: 75px;

	.nav-link {
		color: #080808;

		// &.active, &:hover {
		// 	background-color: $primary;
		// 	color: #fff;
		// }
	}

	.navbar-brand {
		margin-left: 1rem;
	}

}



.menu-button {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
	margin: 25px;

	&.open {
		span {
			background-color: rgba(0,0,0,0.0);
			-webkit-transition-delay: 0.2s; transition-delay: 0.2s;

			&:before {
				margin-top: 0;
				-webkit-transform: rotate(45deg); transform: rotate(45deg);
				-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
			}

			&:after {
				-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
				-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
				-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
				margin-top: 0;
				-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
				-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
			}


		}
	}

	span {
		margin: 0 auto;
		position: relative;
		top: 12px;
		-webkit-transition-duration: 0s; transition-duration: 0s;
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;

		&:after,
		&:before {
			position: absolute;
			content: '';
		}

		&:before {
			margin-top: -10px;
			-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
			-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
			-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		}

		&:after {
			margin-top: 10px;
		}
	}

	span, span:before, span:after {
    width: 32px;
    height: 4px;
		background-color: #202020;
		display: block;
	  border-radius: 10px;
	}
}

section {

	&.full {
		// height: calc(100vh - 75px - 2rem - 0.8rem - 1rem - 20px);
		height: 85vh;
	}

	&.main-banner {
	  background: url(../imgs/bg-hero-banner-edited@2x.jpg);
	  // background: url(../imgs/bg-hero-banner-edited-01@2x.jpg);
    background-size: cover;
    background-position: center center;

    h1 {
    	color: #202020;
    	margin-bottom: 1rem;
    }

    p {
    	width: 90%!important;
    	color: #202020;
    	margin: 0!important;
    }
	}

	&.features {
    background-color: #ffae00;
    color: #fff;

    .img-container {
    	position: relative;
    	left: -20px;

    	img {
		    height: 70vh;
			}
    }

    .feature-text {
    	h3 {
    		font-size: 1.5rem;
	    	font-weight: 400;
	    	margin-top: 1rem;
	    	margin-bottom: 1rem;
    	}
    }

    .p-5 {
    	padding: 3rem 1rem 0 1rem!important;		
  	}
	}

	&.how-it-works {
    color: #2e2e2e;

    .img-container {
    	img {
		    width: 100%;
			}
    }

    .how-item {
    	display: flex;

    	&.with-bg {
    		background-color: rgba(248,243,240,0.8);
    	}

    	&.pt-5 {
    		padding-top: 1rem!important;
    		padding-bottom: 2rem!important;
    	}
    }

    .number, .description {
    	align-self: flex-start;
    }

    .number {
    	width: 3rem;
    	height: 3rem;
    	border-radius: 100%;
    	background-color: $primary;
    	color: #fff;
    	font-weight: 700;
    	text-align: center;
    	padding: calc(3rem / 4) 0;
    	font-size: 1.5rem;
		  box-shadow: 0px 8px 19.74px 1.26px rgba(189, 195, 198, 0.28);
    }

    .description {
    	width: calc(100% - 3rem - 30px);
    	margin-left: 2rem;

    	h3 {
    		font-size: 1.5rem;
	    	font-weight: 400;
	    	margin-top: 0.5rem;
	    	margin-bottom: 1rem;
    	}
    }

    .easy-share {
    	background-image: url(../imgs/easy-share@2x.jpg)!important;
	    background-size: cover;
	    background-position: 90% 100%;
	    background-repeat: no-repeat;
	    background-color: #f8f2df;

	    .how-item {
	    	margin-top: 4rem;
	    	margin-bottom: 4rem;
	    	padding: 2rem;
	    	border-radius: 0.5rem;

	    	p {
	    		margin: 0;
	    	}
	    }
    }

    .paid-instant {
	    background-color: #fff;

	    .img-container {
	    	img {
			    width: 100%;
				}
	    }

	    .how-item {
	    	margin-top: 4rem;
	    }
    }

    .colored {
		  background-color: #eef2f4;
    }
	}

  &.why-suncash {
	  background-color: #eef2f4;
	  padding-bottom: 4rem; 

	  .card-title {
	  	color: $primary;
	  }

	  .card {
	  	margin-bottom: 2rem;
	  }

	  div.card-img-top {
	  	height: 10rem;
	  	overflow: hidden;
	  }
  }

  &.cta-banner {
    background: url(../imgs/bg-cta.jpg);
    background-size: cover;
    background-position: center center;

    .banner-text-container {
    	margin-top: 3.5rem;
			margin-bottom: 3.5rem;

			p {
				width: 60%;
			}

    	a {
    		margin-top: 5rem;
    	}
    }
	}

	&.faq {

		padding-top: 3rem;
		padding-bottom: 8rem;

		.search-group {
			.form-control:focus {
				outline: none!important;
				box-shadow: none;
			}
		}

		.tab-content {
			margin-top: 4rem;
		}

		.nav-tabs .nav-link {
			color: rgba(#2e2e2e, 0.6);
			margin: 0;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;

			&.active {
		    color: #2e2e2e;
		    background-color: transparent;
		    border-color: transparent transparent $primary;
			}
		}

		.nav-border-bottom {
			border-bottom: none;
		}

		.card.no-border {
			border: none;
			background-color: transparent;
		}

		.accordion .card-header {
			position: relative;
			cursor: pointer;
			background-color: #fff;
			border: none;
		  box-shadow: 0px 1px 0px 0px rgba(235, 235, 235, 0.71);
			margin-bottom: 0.25rem;
	    transition: all .2s ease-in;
      padding-right: 4rem;

			&:hover, &:not(.collapsed) {
				background-color: $primary;
				color: #fff;

				.card-title {
					color: #fff;
				}

			}

			.card-title {
				color: #2e2e2e;
			}

		}

		.accordion .card-body {
			background-color: #f7f8f9;

			h5 {
				font-size: 1rem;
			}
		}

		.accordion .card-header:after {
	    font-family: 'FontAwesome';  
	    content: "\f068";
	    float: right; 
	    position: absolute;
	    right: 2rem;
	    top: 50%;
	    transform: translateY(-50%);
      font-size: 0.7rem;
	    transition: all .3s ease-in;
		}
		.accordion .card-header.collapsed:after {
	    font-family: 'FontAwesome';  
	    content: "\f067"; 
	    float: right;
		}
	}

	&.terms {
		padding-bottom: 8rem;

		.container {
			padding: 0;
		}

		.card {
			padding: 1.5rem;

			p {
		    line-height: 1.5rem;
		    font-size: 0.9rem;
			}
		}
	}

	.banner-text-container {
		margin-top: 5rem;
		margin-bottom: 5rem;
		color: #fff;

		p {
			width: 95%;
			margin: 0 auto;
		}
	}

	h1.banner-header {
		font-size: 3rem;
		font-weight: 300;

		strong {
			font-weight: 400;
		}
	}

	.header-block {
		margin-top: 4rem;
		margin-bottom: 4rem;
		text-align: center;
		width: 100%;

		h2 {
			font-weight: 300;
		}

		p {
			font-size: 0.9rem;
			width: 95%;
			margin: 0 auto;
		}
	}

	.page-title {
		margin-top: 3rem;
		margin-bottom: 2rem;
		width: 100%;

		h2 {
			padding: 0 1rem;
			color: $primary;
			font-weight: 300;

			&.dark {
				color: #2e2e2e;
			}
		}
	}

	.large-text {
		font-size: 1.4rem;
		color: #656565;
		font-weight: 300;
		margin-bottom: 2rem;
		line-height: 2rem;
	}

	.label {
		color: $primary;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 0.75rem;
	}

	.data {
		color: #828282;
		font-size: 1.1rem;
		width: 80%;
    line-height: 1.8rem;
	}
}

a.btn {
  box-shadow: 0px 2px 6px 0px rgba(82, 78, 60, 0.34);
  padding: 1rem 3rem; 
  min-width: 10rem;
  margin-top: 2rem;

	&.btn-primary {
		border-color: $primary;
		background-color: $primary;

		&:hover,
		&:focus {
			border-color: rgba($primary, 0.9);
			background-color: rgba($primary, 0.9);
		}
	}

	&.btn-secondary {
		border-color: $secondary;
		background-color: $secondary;

		&:hover,
		&:focus {
			border-color: rgba($secondary, 0.9);
			background-color: rgba($secondary, 0.9);
		}
	}

	&.full {
		width: 100%;
	}
}

footer {
	font-size: 0.8rem;
	color: #959595;
	font-weight: 500;
	text-align: center!important;
	background-color: #f1f3f8;

	img {
		width: 8rem;
	}

	.text-right, .text-left {
		text-align: center!important;

		span {
			text-align: center!important;
			width: 100%;
			margin-bottom: 1rem;
		}
	}
}

.text-link {
	color: $primary;
	text-decoration: underline;
	font-size: 1rem;

	&:hover,
	&:focus {
		color: rgba($primary, 0.9);
	}
}

.user-card {
	min-width: 470px;
	max-width: 350px;
	background-color: #fff;
	text-align: center;
  box-shadow: 0px 1px 3.68px 0.32px rgba(0, 0, 0, 0.13);
  margin-top: 4rem;

	.header {
		padding: 2rem;

		background-image: url(../imgs/store-vector.png);
		background-repeat: no-repeat;
		background-size: 110%;
		background-color: #f5f7fc;
		background-position: center bottom;

		select {
			min-width: 4rem;
			background-color: transparent;
			border: none;
			color: #5b5b5b;
			font-size: 1.3rem;
			-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    background-image: url(../imgs/dropdown-icon.png);
	    background-repeat: no-repeat;
	    background-position: 100% 50%;;
		}

		select, input {
			display: block;
			margin: 0 auto;
		}

		input {
			height: 5rem;
			font-size: 5rem;
			width: 100%;
			border: none;
			text-align: center;
			color: $primary;
			font-family: "Roboto";
			font-weight: 300;
			background-color: transparent;
			margin-top: 1rem;
			margin-bottom: 4rem;
		}
	}

	.body {
		position: relative;
		padding: 0 3rem 3rem 3rem;

		&:before {
			content: "";
	    background-color: #fff;
      top: -20px;
	    height: 67px;
	    left: 0;
	    position: absolute;
	    transform: rotate(-2deg);
	    width: 100%;
	    z-index: 1;
		}
	}

	.user-image {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -60px;
	  box-shadow: 0px 1px 6.44px 0.56px rgba(0, 0, 0, 0.17);

		img {
			width: 100%;
		}
	}

	.user-details {
    position: relative;
    top: -40px;

    .user-name {
			font-size: 1.5rem;
			color: #292929;
			margin-bottom: 0.25rem;
    }

    .user-link {
    	font-size: 1rem;
    	color: #6c6c6c;
    	font-weight: 500;
    }
	}
}

.suncash-form {
	.form-control {

		&:not(textarea) {
	    height: 2.8rem;
		}

  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  	&:focus, &:active {
	    border-color: $primary;
	    box-shadow: 0 0 3px rgba(249, 99, 20, 0.9);
		}
	}

	a.btn {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

}

.no-border {
	border: none;
}

.content-block {
	padding: 1rem;
}

