@import url("fonts.css");
body {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #555;
  line-height: 1.5em;
  background-color: #f5f7fc; }
.bg-primary {
  background-color: #FF8400 !important; }

.text-primary {
  color: #FF8400 !important; }

.f-medium {
  font-weight: 500; }

nav.navbar {
  height: 75px; }
  nav.navbar .nav-link {
    color: #080808; }
  nav.navbar .navbar-brand {
    margin-left: 1rem; }
  nav.navbar .btn-logout {
    width: 7rem;
    text-align: center;
    margin-left: 1rem; }
    nav.navbar .btn-logout .nav-link {
      border-radius: 5px;
      background-color: #D8D8D8;
      color: #7D7D7D;
      padding: 0.75rem; }
  nav.navbar .dropdown span {
    color: #8E8E8E; }
  nav.navbar .dropdown .profile-image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    margin-right: 1rem; }
  nav.navbar .button-item .nav-link {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px; }
  nav.navbar .button-item .btn-primary {
    background-color: #fc6414 !important; }
    nav.navbar .button-item .btn-primary:hover, nav.navbar .button-item .btn-primary:active {
      background-color: #f35603 !important;
      outline: none; }
  nav.navbar .button-item .btn-secondary {
    background-color: #ffae00 !important; }
    nav.navbar .button-item .btn-secondary:hover, nav.navbar .button-item .btn-secondary:active {
      background-color: #f5a700 !important;
      outline: none; }

/*added for button on landing page*/
.dropbtn {
  background-color: #f35603;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f35603;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f35603;}
/*added for button on landing page*/


/*added for button on landing page*/
.dropbtn_secondary {
  background-color: #ffae00;
  color: white;
  padding: 1rem 3rem;
  font-size: 16px;
  min-width: 10rem;
  margin-top: 2rem;
  box-shadow: 0px 2px 6px 0px rgba(82, 78, 60, 0.34);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffae00;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn_secondary {background-color: #ffae00;}
/*added for button on landing page*/

.menu-button {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px; }
  .menu-button.open span {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
    .menu-button.open span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: 0s, 0.2s;
      transition-delay: 0s, 0.2s; }
    .menu-button.open span:after {
      -webkit-transition-property: margin, -webkit-transform;
      transition-property: margin, transform;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s;
      transition-delay: 0.2s, 0s;
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition-delay: 0s, 0.2s;
      transition-delay: 0s, 0.2s; }
  .menu-button span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
    .menu-button span:after, .menu-button span:before {
      position: absolute;
      content: ''; }
    .menu-button span:before {
      margin-top: -10px;
      -webkit-transition-property: margin, -webkit-transform;
      transition-property: margin, transform;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s;
      transition-delay: 0.2s, 0s; }
    .menu-button span:after {
      margin-top: 10px; }
  .menu-button span, .menu-button span:before, .menu-button span:after {
    width: 32px;
    height: 4px;
    background-color: #202020;
    display: block;
    border-radius: 10px; }
.login-card .card {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 13px 11px 0 rgba(0, 0, 0, 0.03);
  border: none; }
.login-card form {
  width: 75%; }
.login-card .logo {
  max-width: 170px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem; }

section.full {
  height: 85vh; }
section.main-banner {
  background: url(../imgs/bg-hero-banner-edited@2x.jpg);
  background-size: cover;
  background-position: center center; }
  section.main-banner h1 {
    color: #202020;
    margin-bottom: 1rem; }
  section.main-banner p {
    width: 90% !important;
    color: #202020;
    margin: 0 !important; }
section.features {
  background-color: #ffae00;
  color: #fff; }
  section.features .img-container {
    position: relative;
    left: -20px; }
    section.features .img-container img {
      height: 70vh; }
  section.features .feature-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  section.features .p-5 {
    padding: 3rem 1rem 0 1rem !important; }
section.how-it-works {
  color: #2e2e2e; }
  section.how-it-works .img-container img {
    width: 100%; }
  section.how-it-works .how-item {
    display: flex; }
    section.how-it-works .how-item.with-bg {
      background-color: rgba(248, 243, 240, 0.8); }
    section.how-it-works .how-item.pt-5 {
      padding-top: 1rem !important;
      padding-bottom: 2rem !important; }
  section.how-it-works .number, section.how-it-works .description {
    align-self: flex-start; }
  section.how-it-works .number {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #fc6414;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: calc(3rem / 4) 0;
    font-size: 1.5rem;
    box-shadow: 0px 8px 19.74px 1.26px rgba(189, 195, 198, 0.28); }
  section.how-it-works .description {
    width: calc(100% - 3rem - 30px);
    margin-left: 2rem; }
    section.how-it-works .description h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 0.5rem;
      margin-bottom: 1rem; }
  section.how-it-works .easy-share {
    background-image: url(../imgs/easy-share@2x.jpg) !important;
    background-size: cover;
    background-position: 90% 100%;
    background-repeat: no-repeat;
    background-color: #f8f2df; }
    section.how-it-works .easy-share .how-item {
      margin-top: 4rem;
      margin-bottom: 4rem;
      padding: 2rem;
      border-radius: 0.5rem; }
      section.how-it-works .easy-share .how-item p {
        margin: 0; }
  section.how-it-works .paid-instant {
    background-color: #fff; }
    section.how-it-works .paid-instant .img-container img {
      width: 100%; }
    section.how-it-works .paid-instant .how-item {
      margin-top: 4rem; }
  section.how-it-works .colored {
    background-color: #eef2f4; }
section.why-suncash {
  background-color: #eef2f4;
  padding-bottom: 4rem; }
  section.why-suncash .card-title {
    color: #fc6414; }
  section.why-suncash .card {
    margin-bottom: 2rem; }
  section.why-suncash div.card-img-top {
    height: 10rem;
    overflow: hidden; }
section.cta-banner {
  background: url(../imgs/bg-cta.jpg);
  background-size: cover;
  background-position: center center; }
  section.cta-banner .banner-text-container {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem; }
    section.cta-banner .banner-text-container p {
      width: 60%; }
    section.cta-banner .banner-text-container a {
      /*margin-top: 5rem; } margin-top: 5rem;*/
    }
section.faq {
  padding-top: 3rem;
  padding-bottom: 8rem; }
  section.faq .search-group .form-control:focus {
    outline: none !important;
    box-shadow: none; }
  section.faq .tab-content {
    margin-top: 4rem; }
  section.faq .nav-tabs .nav-link {
    color: rgba(46, 46, 46, 0.6);
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    section.faq .nav-tabs .nav-link.active {
      color: #2e2e2e;
      background-color: transparent;
      border-color: transparent transparent #fc6414; }
  section.faq .nav-border-bottom {
    border-bottom: none; }
  section.faq .card.no-border {
    border: none;
    background-color: transparent; }
  section.faq .accordion .card-header {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(235, 235, 235, 0.71);
    margin-bottom: 0.25rem;
    transition: all .2s ease-in;
    padding-right: 4rem; }
    section.faq .accordion .card-header:hover, section.faq .accordion .card-header:not(.collapsed) {
      background-color: #fc6414;
      color: #fff; }
      section.faq .accordion .card-header:hover .card-title, section.faq .accordion .card-header:not(.collapsed) .card-title {
        color: #fff; }
    section.faq .accordion .card-header .card-title {
      color: #2e2e2e; }
  section.faq .accordion .card-body {
    background-color: #f7f8f9; }
    section.faq .accordion .card-body h5 {
      font-size: 1rem; }
  section.faq .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.7rem;
    transition: all .3s ease-in; }
  section.faq .accordion .card-header.collapsed:after {
    font-family: 'FontAwesome';
    content: "\f067";
    float: right; }
section.terms {
  padding-bottom: 8rem; }
  section.terms .container {
    padding: 0; }
  section.terms .card {
    padding: 1.5rem; }
    section.terms .card p {
      line-height: 1.5rem;
      font-size: 0.9rem; }
section .banner-text-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #fff; }
  section .banner-text-container p {
    width: 95%;
    margin: 0 auto; }
section h1.banner-header {
  font-size: 3rem;
  font-weight: 300; }
  section h1.banner-header strong {
    font-weight: 400; }
section .header-block {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%; }
  section .header-block h2 {
    font-weight: 300; }
  section .header-block p {
    font-size: 0.9rem;
    width: 95%;
    margin: 0 auto; }
section .page-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%; }
  section .page-title h2 {
    padding: 0 1rem;
    color: #fc6414;
    font-weight: 300; }
    section .page-title h2.dark {
      color: #2e2e2e; }
section .large-text {
  font-size: 1.4rem;
  color: #656565;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 2rem; }
/*section .label {
  color: #fc6414;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem; }*/
section .data {
  color: #828282;
  font-size: 1.1rem;
  width: 80%;
  line-height: 1.8rem; }

a.btn {
  box-shadow: 0px 2px 6px 0px rgba(82, 78, 60, 0.34);
  padding: 1rem 3rem;
  min-width: 10rem;
  margin-top: 2rem; }
  a.btn.btn-primary {
    border-color: #fc6414;
    background-color: #fc6414; }
    a.btn.btn-primary:hover, a.btn.btn-primary:focus {
      border-color: rgba(252, 100, 20, 0.9);
      background-color: rgba(252, 100, 20, 0.9); }
  a.btn.btn-secondary {
    border-color: #ffae00;
    background-color: #ffae00; }
    a.btn.btn-secondary:hover, a.btn.btn-secondary:focus {
      border-color: rgba(255, 174, 0, 0.9);
      background-color: rgba(255, 174, 0, 0.9); }
  a.btn.full {
    width: 100%; }

footer {
  font-size: 0.8rem;
  color: #959595;
  font-weight: 500;
  text-align: center !important;
  background-color: #f1f3f8; }
  footer img {
    width: 8rem; }
  footer .text-right, footer .text-left {
    text-align: center !important; }
    footer .text-right span, footer .text-left span {
      text-align: center !important;
      width: 100%;
      margin-bottom: 1rem; }

.text-link {
  color: #FF8400;
  text-decoration: underline;
  font-size: 1rem; }
  .text-link:hover, .text-link:focus {
    color: rgba(255, 132, 0, 0.9); }

.user-card {
  min-width: 100%;
  max-width: 350px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3.68px 0.32px rgba(0, 0, 0, 0.13);
  margin-top: 4rem;
  overflow: hidden; }
  .user-card.main .user-image {
    top: 0; }
  .user-card.main .header {
    padding: 3rem; }
  .user-card.main .user-details {
    top: 0; }
  .user-card.main .body {
    padding-top: 2rem; }
  .user-card .header {
    padding: 2rem;
    background-image: url(../imgs/store-vector@3x.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: #f5f7fc;
    background-position: center bottom; }
    .user-card .header.w-content {
      height: 10rem; }
  .user-card select.select-currency {
    min-width: 4rem;
    background-color: transparent;
    border: none;
    color: #5b5b5b;
    font-size: 1.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../imgs/dropdown-icon.png);
    background-repeat: no-repeat;
    background-position: 100% 50%; }
  .user-card select.select-currency, .user-card input.input-amount {
    display: block;
    margin: 0 auto; }
  .user-card input.input-amount {
    height: 5rem;
    font-size: 5rem;
    width: 100%;
    border: none;
    text-align: center;
    color: #FF8400;
    font-family: "Roboto";
    font-weight: 300;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 4rem; }
  .user-card .body {
    position: relative;
    padding: 0 3rem 3rem 3rem; }
    .user-card .body:before {
      content: "";
      background-color: #fff;
      top: -20px;
      height: 67px;
      left: 0;
      position: absolute;
      transform: rotate(-2deg);
      width: 110%;
      z-index: 1; }
    .user-card .body .form-control {
      border: 1px solid rgba(183, 183, 183, 0.4);
      color: #7f8080;
      font-family: "Rubik", sans-serif;
      font-size: 0.95rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-bottom: 0.5rem; }
      .user-card .body .form-control:focus {
        box-shadow: none;
        border-color: #ffae00; }
    .user-card .body input.form-control {
      height: 3rem; }
    .user-card .body .btn {
      margin-top: 1rem; }
    .user-card .body .label {
      color: #292929;
      margin-bottom: 0.4rem; }
    .user-card .body .paying {
      font-size: 1.1rem;
      color: #6C6C6C; }
    .user-card .body .total .amount {
      font-weight: 500;
      font-size: 1.1rem; }
    .user-card .body .item {
      margin-bottom: 1rem;
      margin-top: 1rem; }
      .user-card .body .item:not(:last-child) {
        border-bottom: 1px solid #F0F0F0;
        padding-bottom: 1rem; }
      .user-card .body .item.primary-border {
        border-bottom: 1px solid #FF8400; }
  .user-card ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #7f8080; }
  .user-card ::-moz-placeholder {
    /* Firefox 19+ */
    color: #7f8080; }
  .user-card :-ms-input-placeholder {
    /* IE 10+ */
    color: #7f8080; }
  .user-card :-moz-placeholder {
    /* Firefox 18- */
    color: #7f8080; }
  .user-card .user-image {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -60px;
    box-shadow: 0px 1px 6.44px 0.56px rgba(0, 0, 0, 0.17); }
    .user-card .user-image img {
      width: 100%; }
  .user-card .qr-code-image {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -100px;
    box-shadow: 0px 1px 6.44px 0.56px rgba(0, 0, 0, 0.17); }
    .user-card .qr-code-image img {
      width: 100%; }
  .user-card .qr-details {
    position: relative;
    top: -60px;
    margin-bottom: 1.5rem; }
    .user-card .qr-details .message {
      font-size: 1.2rem; }
      .user-card .qr-details .message .code {
        color: #FF8400;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 0.75rem; }
    .user-card .qr-details .barcode {
      width: 200px;
      margin-top: 1.5rem;
      margin-bottom: 3rem; }
  .user-card .user-details {
    position: relative;
    top: -40px;
    z-index: 1; }
    .user-card .user-details .user-name {
      font-size: 1.5rem;
      color: #292929;
      margin-bottom: 0.25rem; }
    .user-card .user-details .user-link {
      font-size: 1rem;
      color: #6c6c6c; }
  .user-card .details {
    position: relative;
    top: -40px;
    font-family: "Roboto", sans-serif;
    color: #292929; }
    .user-card .details select {
      min-width: 4rem;
      background-color: transparent;
      border: none;
      font-size: 1.3rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      background-image: url(../imgs/dropdown-icon.png);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      margin-top: 1rem !important; }
    .user-card .details select, .user-card .details input {
      display: block;
      margin: 0 auto; }
    .user-card .details input {
      height: 3rem;
      font-size: 2.9rem;
      width: 100%;
      border: none;
      text-align: center;
      color: #FF7309;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      background-color: transparent;
      margin-top: 0.5rem; }
      .user-card .details input:focus {
        box-shadow: none;
        border: 1px solid #FF8400;
        outline: none; }
    .user-card .details .user-name {
      font-size: 1.5rem;
      color: #292929;
      margin-bottom: 0.25rem; }
    .user-card .details .user-link {
      font-size: 1rem;
      color: #6c6c6c; }
    .user-card .details ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: "Roboto", sans-serif !important; }
    .user-card .details ::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "Roboto", sans-serif !important; }
    .user-card .details :-ms-input-placeholder {
      /* IE 10+ */
      font-family: "Roboto", sans-serif !important; }
    .user-card .details :-moz-placeholder {
      /* Firefox 18- */
      font-family: "Roboto", sans-serif !important; }
  .user-card.message-card, .user-card.transaction-details {
    font-family: "Roboto", sans-serif !important; }
  .user-card.message-card .message {
    font-size: 1.5rem !important;
    line-height: 2.1rem;
    width: 90%;
    margin: 0 auto; }
    .user-card.message-card .message span {
      color: #FF8400; }
  .user-card.message-card .item {
    margin-bottom: 1.3rem;
    margin-top: 1.3rem; }
    .user-card.message-card .item:not(:last-child) {
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 1.3rem; }
  .user-card.message-card.success-card .message {
    width: 60%; }
  .user-card.message-card.reload-card .border-top {
    border-color: #F0F0F0;
    padding-top: 2rem; }
    .user-card.message-card.reload-card .border-top .col {
      font-size: 1.3rem; }
  .user-card.message-card.error-card .message {
    font-size: 1rem;
    line-height: 1.5rem; }
    .user-card.message-card.error-card .message h5 {
      font-size: 1.5rem; }
  .user-card.message-card.error-card .border-top {
    border-color: #F0F0F0;
    padding-top: 2rem; }
    .user-card.message-card.error-card .border-top .col {
      font-size: 1.3rem;
      font-weight: 500; }


.suncash-form .form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .suncash-form .form-control:not(textarea) {
    height: 2.8rem; }
  .suncash-form .form-control:focus, .suncash-form .form-control:active {
    border-color: #fc6414;
    box-shadow: 0 0 3px rgba(249, 99, 20, 0.9); }
.suncash-form a.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.no-border {
  border: none; }

.content-block {
  padding: 1rem; }

.details input{
height: 5rem;
    font-size: 5rem;
    width: 100%;
    border: none;
    text-align: center;
    color: #fc6414;
    font-family: "Roboto";
    font-weight: 300;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 4rem;  
}

.details input{
height: 5rem;
    font-size: 5rem;
    width: 100%;
    border: none;
    text-align: center;
    color: #fc6414;
    font-family: "Roboto";
    font-weight: 300;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 4rem;  
}

.details select{
    min-width: 4rem;
    background-color: transparent;
    border: none;
    color: #5b5b5b;
    font-size: 1.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../imgs/dropdown-icon.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;  
}

.transaction-details .checkbox-container ~ input {
  margin-left: 35px;
  width: calc(100% - 35px);
  margin-bottom: 1rem !important; }
.transaction-details .transaction-details-summary {
  color: #6C6C6C;
  font-size: 0.9rem; }


.modal#storeLocator .modal-dialog {
  max-width: 1050px; }
.modal .modal-header .search-store {
  width: 400px; }
  .modal .modal-header .search-store .input-group-text {
    background-color: transparent;
    border-color: rgba(167, 167, 167, 0.35); }
  .modal .modal-header .search-store input {
    border-right: 0 !important;
    border-color: rgba(167, 167, 167, 0.35);
    height: 2.5rem; }
    .modal .modal-header .search-store input:focus {
      border-color: #FF8400;
      box-shadow: none; }
      .modal .modal-header .search-store input:focus ~ .input-group-append > .input-group-text {
        border-color: #FF8400; }
  .modal .modal-header .search-store i.fa-search {
    color: #FF8400; }
.modal .modal-content {
  height: 90vh; }
.modal #map {
  background-image: url(../imgs/map.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100vh; }
.modal .close-icon {
  width: 1.5rem; }
.modal .store-map,
.modal .store-location {
  padding: 0;
  overflow: hidden; }
.modal .row {
  margin: 0; }
.modal .store-location {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  overflow-y: visible; }
  .modal .store-location .store-count {
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #E8E8E8; }
  .modal .store-location .store {
    padding: 1rem 0.25rem;
    color: #292929;
    cursor: pointer; }
    .modal .store-location .store.selected {
      background-color: #F1F1F1; }
    .modal .store-location .store .fa-map-marker-alt {
      color: #FF8400; }
    .modal .store-location .store .store-name {
      font-weight: 500;
      font-size: 1.1rem; }
    .modal .store-location .store .store-address {
      font-size: 0.95rem;
      margin-bottom: 0.5rem; }
    .modal .store-location .store .store-travel-time {
      color: #A2A2A2;
      font-size: 0.85rem; }
.modal .store-map {
  padding: 0; }
  .modal .store-map .modal-body {
    padding: 0; }
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #707070; }
  
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #329D77; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
