@import url("fonts.css");
body {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #292929;
  line-height: 1.5em;
  background-color: #F5F7FC; }

.btn-primary {
  background-color: #F5AE02;
  border-color: #F5AE02; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: rgba(245, 174, 2, 0.8) !important;
    border-color: rgba(245, 174, 2, 0.8) !important;
    box-shadow: none !important; }

.text-primary {
  color: #FF8400 !important; }
.text-details{
  color: #555 !important;
}
.navbar {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09); }
  .navbar a, .navbar img {
    margin: 0 auto;
    width: 180px; }

.main {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.shop-logo-header {
  text-align: center;
  padding-top: 3rem; }
  .shop-logo-header img {
    width: 8rem;
    border: 1px solid rgba(122, 122, 122, 0.2); }

.order-summary {
  background-color: #fff;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 1rem; }
  .order-summary .header {
    padding: 0.75rem;
    display: flex; }
  .order-summary .shop-logo img {
    width: 5rem; }
  .order-summary .shop-name {
    padding: 1rem; }
    .order-summary .shop-name h2 {
      font-size: 1.1rem;
      margin: 0;
      margin-bottom: 0.1rem;
      font-weight: 400; }
    .order-summary .shop-name span {
      color: #7A7A7A;
      font-size: 0.8rem; }
  .order-summary .total-payment {
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-weight: 500;
    line-height: 1.5; }
    .order-summary .total-payment span {
      display: block;
      font-size: 1.5rem; }
  .order-summary table thead {
    background-color: #F5F7FC; }
    .order-summary table thead th {
      font-weight: 500;
      font-size: 0.85rem; }
  .order-summary table th, .order-summary table td {
    padding: 0.75rem 1rem; }
  .order-summary table tbody td.amount {
    font-weight: 500; }
  .order-summary table tbody td span {
    display: block; }
    .order-summary table tbody td span.item-name {
      color: #FF8400; }
    .order-summary table tbody td span.item-number, .order-summary table tbody td span.quantity {
      color: #7A7A7A;
      font-size: 0.85rem; }
  .order-summary table tbody tr:not(:last-child) {
    border-bottom: 1px solid #F5F7FC; }
  .order-summary table tbody tr.item-total td.f-medium {
    font-size: 0.85rem; }
  .order-summary table tbody tr.total td.amount {
    font-size: 1.3rem; }
  .order-summary .details {
    padding: 1rem; }
    .order-summary .details img, .order-summary .details span, .order-summary .details a {
      display: inline-block; }
    .order-summary .details img {
      width: 8rem; }
    .order-summary .details span {
      font-weight: 500;
      font-style: italic;
      color: #ACACAC;
      margin-left: 5px; }
    .order-summary .details a {
      text-decoration: underline;
      color: #FF8400;
      font-size: 0.8rem;
      font-weight: 500; }
  .order-summary > p {
    color: #ACACAC;
    font-weight: 500;
    font-size: 0.9rem; }

.f-medium {
  font-weight: 500; }

.card button {
  width: 100%;
  min-height: 3rem;
  outline: none; }
.card .card-footer {
  border: none;
  background-color: #F5F7FC;
  text-align: left; }
  .card .card-footer span {
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase; }
  .card .card-footer p {
    font-weight: 500;
    font-size: 0.8rem;
    color: #ACACAC; }

.title {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.card-header {
  position: relative;
  background-color: #FF8400;
  margin-bottom: 0.5rem;
  color: #fff; }
  .card-header.collapsed {
    background-color: #fff; }
    .card-header.collapsed .title span {
      color: #969696; }
      .card-header.collapsed .title span:first-child {
        color: #292929; }
    .card-header.collapsed i {
      color: #FF8400;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .card-header.collapsed img.light {
      opacity: 1; }
    .card-header.collapsed img.colored {
      opacity: 0; }
  .card-header img.light {
    opacity: 0; }
  .card-header img.colored {
    opacity: 1; }
  .card-header .title, .card-header i, .card-header img {
    display: inline-block; }
  .card-header .title span {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: #fff; }
    .card-header .title span:first-child {
      font-size: 1.3rem;
      color: #fff; }
  .card-header i {
    position: relative;
    top: -10px;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .card-header img {
    display: none;
    width: 3.2rem;
    right: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute; }

.collapse > .card-header,
.collapse > .card-body {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.09); }

.card-body {
  background-color: #fff; }
  .card-body h2 {
    font-size: 1.3rem;
    color: #292929;
    font-weight: 400; }
  .card-body span {
    color: #7A7A7A;
    font-size: 0.8rem; }

.accordion input {
  min-height: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem; }
  .accordion input:focus {
    box-shadow: none;
    border-color: #FF8400; }
.accordion .card {
  margin-bottom: 0.5rem;
  border: none;
  background-color: transparent; }
  .accordion .card .card-header {
    border: none; }
  .accordion .card > .card-body {
    background-color: #fff; }
    .accordion .card > .card-body h2 {
      font-size: 1.3rem;
      color: #292929;
      font-weight: 400; }
    .accordion .card > .card-body span {
      color: #7A7A7A;
      display: block;
      font-size: 0.8rem; }
    .accordion .card > .card-body button {
      margin-top: 2rem; }
    .accordion .card > .card-body form {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .accordion .card > .card-body form label {
        display: block; }
      .accordion .card > .card-body form .form-group.two-input input {
        width: 10rem;
        display: inline-block;
        margin-right: 5px; }
      .accordion .card > .card-body form .short-input input {
        width: 8rem; }
.accordion .text-link {
  display: block;
  color: #FF8400;
  text-decoration: none;
  margin-top: 4rem; }
.accordion .table-title {
  font-size: 0.9rem;
  margin-bottom: 0; }
.accordion .border-bottom {
  border-bottom: 1px solid #F0F0F0;
  padding-top: 1rem;
  padding-bottom: 2rem; }

#cashPayment .form-group.row {
  margin: 0; }
  #cashPayment .form-group.row input {
    margin-right: 5px;
    width: calc(50% - 5px);
    max-width: calc(50% - 5px); }
#cashPayment table {
  margin: 0; }
  #cashPayment table td {
    padding: .2rem 0;
    color: #6C6C6C; }
  #cashPayment table tfoot {
    border-top: 1px solid #FF8400; }
    #cashPayment table tfoot td {
      font-weight: 500;
      padding: .5rem 0;
      color: #292929; }
      #cashPayment table tfoot td.amount {
        font-size: 1.2rem; }
#cashPayment .card-body form {
  margin-top: 1rem; }

.custom-radio {
  width: 100%;
  margin-top: 1rem; }
  .custom-radio .label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    margin-bottom: 1rem; }
  .custom-radio .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px; }
  .custom-radio .label-container:hover input ~ .checkmark {
    background-color: #ccc; }
  .custom-radio .label-container input:checked ~ .checkmark {
    background-color: #329D77; }
  .custom-radio .label {
    color: #A9A9A9; }
  .custom-radio span {
    font-size: 1rem !important;
    top: 2px;
    position: relative; }
  .custom-radio .form-control {
    margin-left: 35px;
    width: calc(100% - 35px) !important;
    margin-bottom: 1rem; }
  .custom-radio .label-container input:checked ~ .label {
    color: #292929; }
  .custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .custom-radio .label-container input:checked ~ .checkmark:after {
    display: block; }
  .custom-radio .label-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px; }

.title-header {
  padding: 2rem;
  background-color: transparent;
  color: #292929;
  font-size: 1.5rem;
  border-color: #F5F7FC;
  position: relative;
  font-weight: 500; }
  .title-header img {
    width: 7rem; }
  .title-header a {
    font-size: 0.9rem;
    text-decoration: underline; }
    .title-header a:hover {
      color: #FF8400 !important; }

.checkout-payment-code .code {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .checkout-payment-code .code span {
    display: block; }
    .checkout-payment-code .code span:nth-child(2) {
      color: #FF8400;
      font-size: 31px; }
    .checkout-payment-code .code span:nth-child(1) {
      font-size: 21px;
      margin-bottom: 10px; }
.checkout-payment-code .receipt-container {
  padding-bottom: 5rem; }
  .checkout-payment-code .receipt-container img {
    display: block;
    margin: 0 auto; }
  .checkout-payment-code .receipt-container .qr {
    width: 200px; }
  .checkout-payment-code .receipt-container .barcode {
    width: 252px;
    margin-bottom: 3rem; }
.checkout-payment-code button:not(.btn-primary) {
  background-color: #FF7309;
  color: #fff;
  border: #FF7309;
  outline: none;
  width: auto;
  padding-right: 1rem;
  padding-left: 1rem; }
.checkout-payment-code .message {
  width: 240px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center; }
  .checkout-payment-code .message span {
    color: #FF8400;
    display: inline-block; }
.checkout-payment-code .transaction-details {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .checkout-payment-code .transaction-details .table-title {
    font-size: 0.9rem; }
  .checkout-payment-code .transaction-details table {
    margin: 0 auto;
    text-align: inherit;
    width: 400px;
    margin-bottom: 3rem; }
    .checkout-payment-code .transaction-details table tr:not(:last-child) {
      border-bottom: 1px solid #F0F0F0; }
    .checkout-payment-code .transaction-details table tr td {
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .checkout-payment-code .transaction-details table tr td:nth-child(1) {
        text-align: left; }
      .checkout-payment-code .transaction-details table tr td:nth-child(2) {
        text-align: right; }

.footer button {
  width: auto !important;
  padding-left: 2rem;
  padding-right: 2rem; }
.footer > span {
  margin-left: 1rem; }
.footer span {
  color: #A7A7A7; }

.confirmation-details .card-body {
  padding: 2rem;
  padding-bottom: 5rem; }
  .confirmation-details .card-body span {
    display: block; }
.confirmation-details table {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem; }
  .confirmation-details table tr:not(:last-child) {
    border-bottom: 1px solid #F0F0F0; }
  .confirmation-details table tr td {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .confirmation-details table tr td:nth-child(1) {
      text-align: left;
      color: #A7A7A7; }
    .confirmation-details table tr td:nth-child(2) {
      text-align: right;
      font-size: 1.1rem; }

.success-page .card-body {
  padding-bottom: 5rem; }
.success-page .icon {
  width: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem; }
.success-page .status-message {
  font-size: 1.5rem; }
.success-page .message {
  color: #A7A7A7; }
  .success-page .message span {
    color: #FF8400; }
.success-page hr {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem; }
.success-page .redirect {
  font-weight: 500;
  margin-top: 2rem; }

.error-page .card-body {
  padding-bottom: 5rem; }
.error-page .icon {
  width: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem; }
.error-page .status-message {
  font-size: 1.5rem; }
.error-page .message {
  color: #A7A7A7; }
  .error-page .message span {
    color: #FF8400; }
.error-page hr {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem; }
.error-page .redirect {
  font-weight: 500;
  margin-top: 2rem; }

footer {
  color: #ACACAC;
  background-color: #F1F3F8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  border-top: 1px solid #e6e6e6; }
  footer .copyright, footer .link {
    display: inline-block; }
  footer .link {
    margin-left: 1rem; }
    footer .link a {
      color: #ACACAC; }
    footer .link span {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  footer .logo {
    text-align: right; }
    footer .logo img {
      width: 140px;
      text-align: right; }

.modal#storeLocator .modal-dialog {
  max-width: 1050px; }
.modal#cardValidation .modal-content {
  min-height: 50vh;
  height: auto !important; }
.modal#cardValidation .modal-header {
  padding: 1.5rem 1.75rem; }
.modal#cardValidation .progress {
  position: relative;
  background-color: transparent;
  overflow: unset;
  z-index: 2;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .modal#cardValidation .progress .progress-inner {
    position: absolute;
    width: 100%;
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: center; }
  .modal#cardValidation .progress .progress-step {
    display: inline-block;
    justify-content: center; }
  .modal#cardValidation .progress .progress-step .number {
    display: inline-block;
    background-color: #E8E8E8;
    text-align: center;
    color: #9B9B9B;
    font-weight: 500;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem; }
    .modal#cardValidation .progress .progress-step .number.active {
      background-color: #FF8400;
      color: #fff; }
    .modal#cardValidation .progress .progress-step .number.done {
      background-color: #FF8400;
      color: #fff; }
  .modal#cardValidation .progress .progress-step .label {
    color: #3B3B3B;
    opacity: 0.5;
    font-size: 0.6rem;
    margin-top: 0.5rem; }
  .modal#cardValidation .progress .progress-step.active .number {
    background-color: #FF8400;
    color: #fff; }
  .modal#cardValidation .progress .progress-step.active .label {
    opacity: 1; }
  .modal#cardValidation .progress .progress-step.done .number {
    background-color: #009D76;
    color: #fff; }
  .modal#cardValidation .progress .progress-step.done .label {
    opacity: 1;
    color: #009D76; }
.modal#cardValidation .progress-container {
  position: relative; }
  .modal#cardValidation .progress-container .card-section-title {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0.75rem;
    margin-bottom: 2rem; }
    .modal#cardValidation .progress-container .card-section-title span {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.9rem; }
  .modal#cardValidation .progress-container .progress-content {
    position: relative;
    opacity: 0;
    width: 100%;
    display: none; }
    .modal#cardValidation .progress-container .progress-content.active {
      opacity: 1;
      display: block;
      z-index: 100;
      top: 0;
      animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
    .modal#cardValidation .progress-container .progress-content.success-screen {
      color: #009D76;
      text-align: center; }
      .modal#cardValidation .progress-container .progress-content.success-screen.done {
        opacity: 1 !important;
        display: block; }
      .modal#cardValidation .progress-container .progress-content.success-screen i {
        font-size: 5rem;
        margin-bottom: 1rem; }
      .modal#cardValidation .progress-container .progress-content.success-screen .validation-message {
        font-size: 1.4rem;
        font-weight: 500; }
    .modal#cardValidation .progress-container .progress-content .upload-container label {
      font-size: 1rem; }
    .modal#cardValidation .progress-container .progress-content .upload-container .info {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      color: #888585; }
      .modal#cardValidation .progress-container .progress-content .upload-container .info i {
        font-size: 1rem; }
    .modal#cardValidation .progress-container .progress-content .upload-container .btn-upload {
      background-color: #FF8400;
      color: #fff;
      padding-left: 2rem;
      padding-right: 2rem; }
    .modal#cardValidation .progress-container .progress-content .upload-container .filepond--drop-label, .modal#cardValidation .progress-container .progress-content .upload-container .illustration-image {
      height: 10rem !important;
      background: #FAFBFC;
      border: 1px dashed #DEDEDE;
      border-radius: 5px;
      position: relative; }
    .modal#cardValidation .progress-container .progress-content .upload-container .illustration-image > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .modal#cardValidation .progress-container .progress-content .upload-container .illustration-image > div img {
        width: 10rem; }
      .modal#cardValidation .progress-container .progress-content .upload-container .illustration-image > div span {
        color: #888585; }
.modal#cardValidation input {
  min-height: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem; }
  .modal#cardValidation input:focus {
    box-shadow: none;
    border-color: #FF8400; }
.modal#cardValidation .btn-container .btn-process {
  padding: 0.75rem 2rem; }
.modal#cardValidation .btn-container .btn-close {
  color: #A7A7A7;
  padding: 0;
  background: transparent; }
.modal .modal-header .search-store {
  width: 400px; }
  .modal .modal-header .search-store .input-group-text {
    background-color: transparent;
    border-color: rgba(167, 167, 167, 0.35); }
  .modal .modal-header .search-store input {
    border-right: 0 !important;
    border-color: rgba(167, 167, 167, 0.35);
    height: 2.5rem; }
    .modal .modal-header .search-store input:focus {
      border-color: #FF8400;
      box-shadow: none; }
      .modal .modal-header .search-store input:focus ~ .input-group-append > .input-group-text {
        border-color: #FF8400; }
  .modal .modal-header .search-store i.fa-search {
    color: #FF8400; }
.modal .modal-header button {
  background-color: transparent; }
.modal .modal-content {
  height: 90vh; }
.modal #map {
  background-image: url(../imgs/map.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100vh; }
.modal .close-icon {
  width: 1.5rem; }
.modal .store-map,
.modal .store-location {
  padding: 0;
  overflow: hidden;
  overflow: hidden !important;
  height: 100%; }
.modal .row {
  margin: 0; }
.modal .store-location {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  overflow-y: visible !important; }
  .modal .store-location .store-count {
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #E8E8E8; }
  .modal .store-location .store {
    padding: 1rem 0.25rem;
    color: #292929;
    cursor: pointer; }
    .modal .store-location .store.selected {
      background-color: #F1F1F1; }
    .modal .store-location .store .fa-map-marker-alt {
      color: #FF8400; }
    .modal .store-location .store .store-name {
      font-weight: 500;
      font-size: 1.1rem; }
    .modal .store-location .store .store-address {
      font-size: 0.95rem;
      margin-bottom: 0.5rem; }
    .modal .store-location .store .store-travel-time {
      color: #A2A2A2;
      font-size: 0.85rem; }
.modal .store-map {
  padding: 0; }
  .modal .store-map .modal-body {
    padding: 0; }

/*# sourceMappingURL=main.css.map */
