@media only screen and (min-width: 992px) {
    .accordion .card > .card-body {
    padding: 2rem 4rem;
    background-color: #fff; }

  .card-header img {
    display: block; }

  .card button {
    width: 290px; }

  .title-header img {
    position: absolute;
    right: 2rem;
    text-decoration: underline;
    width: 7rem; }
  .title-header a {
    position: absolute;
    right: 2rem;
    font-size: 0.9rem;
    text-decoration: underline; }
    .title-header a:hover {
      color: #fc6414 !important; } }
@media (max-width: 576px) {
  .accordion input {
    width: 100% !important;
    margin-bottom: 0.5rem; }

  table {
    width: 100% !important; }

  footer, .logo {
    text-align: center !important; }
    footer img, .logo img {
      margin-top: 1rem; }

  .title-header {
    text-align: center; }
    .title-header img {
      position: relative; }
    .title-header a {
      position: relative;
      top: 15px; } }

  .menu-button {
    display: none; }

  nav.navbar .nav-item:not(.btn-logout):not(.dropdown) .nav-link {
    position: relative;
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
    nav.navbar .nav-item:not(.btn-logout):not(.dropdown) .nav-link:after {
      content: '';
      position: absolute;
      border-bottom: 0;
      bottom: -18px;
      left: 4px;
      width: 0%;
      border-bottom: 3px solid #f96314;
      transition: 0.2s; }
    nav.navbar .nav-item:not(.btn-logout):not(.dropdown) .nav-link:hover:after, nav.navbar .nav-item:not(.btn-logout):not(.dropdown) .nav-link.active:after {
      width: 100%; }
  nav.navbar .nav-item .nav-link.dropdown-toggle:after {
    display: none; }

  .main-menu {
    position: relative;
    top: inherit;
    opacity: 1;
    z-index: 1000;
    display: block; }

  footer .text-right {
    text-align: right !important; }
  footer .text-left {
    text-align: left !important; }
    footer .text-left span {
      width: auto !important; }

  section.full {
    height: 85vh; }

  .user-card {
    min-width: 520px; } }
@media (max-width: 991.98px) {
  .main-menu {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    z-index: -1;
    top: -10px;
    transition: all 0.5s ease;
    height: 0vh;
    width: 100%;
    left: 0; }
    .main-menu.open {
      height: 100vh;
      z-index: 1000;
      top: 75px; }
    .main-menu .nav-link {
      padding: 1rem; }

  nav.navbar .nav-link {
    color: #080808; }
    nav.navbar .nav-link.active, nav.navbar .nav-link:hover {
      background-color: #fc6414;
      color: #fff; } }

/*# sourceMappingURL=responsive.css.map */
